* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: black;
}
.header {
  height: 60px;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: .5px solid goldenrod;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}
.header p {
  float: left;
  color: white;
  margin-top: 28px;
  font-size: 30px;
  font-family: 'Amatic SC';
  margin-left: 10px;
  overflow-y: hidden;
}
.navigation {
  height: 50px;
  width: auto;
  display: block;
  overflow-y: hidden;
  position: relative;
  z-index: 100;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  float: left;
  height: auto;
  padding-bottom: 5px;
  width: 150px;
}
.navigation ul li a {
  display: block;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 23px;
  text-decoration: none;
  font-family: Abril Fatface;
  padding-top: 5px;
  transition: font-size 1s;
  font-weight: bold;
}
.navigation ul li:hover a {
  font-size: 30px;
  color: goldenrod;
}
#home a {
  color: goldenrod;
}
.logo-container {
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  background-color: black;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}
.image-container {
  height: 200px;
  width: 200px;
  margin-top: -70px;
  border-radius: 100%;
  border: 3px solid goldenrod;
}
.title-container {
  margin-bottom: -40px;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}
.swirls {
  margin: 40px 0px 40px 0px;
}
.logo-container h1 {
  position: relative;
  font-size: 70px;
  width: auto;
  font-family: "Lily Script One";
  color: goldenrod;
}
.logo-container h3 {
  margin-top: -10px;
  color: goldenrod;
  font-family: Abril Fatface;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: -30px;
}
.logo-container h2 {
  width: 70vw;
  margin: 50px auto 0px auto;
  text-align: center;
  color: white;
  font-family: Abril Fatface;
  word-spacing: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 900px;
  height: 100px;
  background-color: black;
  border-top: .5px solid goldenrod;
  z-index: 2;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}
.footer h2 {
  margin: 3px 0px 3px 0px;
  z-index: 3;
  color: white;
  font-size: 25px;
  font-family: Poppins;
}
.footer img {
  height: 60px;
  width: 60px;
  margin: 0px 0px 0px 10px;
}
#facebook {
  margin-left: 50px;
}
.menu-icon {
  display: none;
}
@media only screen and (max-height: 736px) {
  .image-container {
    height: 180px;
    width: 180px;
    margin-top: -50px;
  }
}
@media only screen and (max-height: 669px) {
  .image-container {
    height: 150px;
    width: 150px;
  }
  .logo-container h2 {
    width: 70vw;
    margin: 30px auto 0px auto;
    text-align: center;
    color: white;
    font-family: Abril Fatface;
    word-spacing: 5px;
    font-size: 25px;
  }
}
/* Iphone 6+ */
@media only screen and (min-width: 320px) and (max-width: 600px) {
	::-webkit-scrollbar {
      width: 0px;
      /* remove scrollbar space */
      background: transparent;
      /* optional: just make scrollbar invisible */
    }
  .image-container {
    height: 200px;
    width: 200px;
    margin-top: -90px;
    border-radius: 100%;
    border: 3px solid goldenrod;
  }
  .menu-icon {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 101;
  }
  .header {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .navigation {
    display: block;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    z-index: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;
    -ms-flex-pack: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-pack: center;
  }
  .navigation ul {
    height: auto;
  }
  .navigation ul li {
    float: left;
    height: 70px;
    padding-bottom: 0px;
    width: 100%;
  }
  .navigation ul li a {
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    font-family: Abril Fatface;
    padding-top: 10px;
    transition: font-size 1s;
    font-weight: bold;
  }
  .navigation ul li:hover a {
    font-size: 35px;
    color: goldenrod;
  }
  .logo-container {
    min-width: 100vw;
    padding-top: 80px;
  }
  .swirls {
    margin: 40px 0px 40px 0px;
  }
  .logo-container h1 {
    position: relative;
    font-size: 40px;
    font-family: "Lily Script One";
    color: goldenrod;
  }
  .logo-container h3 {
    margin-top: -10px;
    color: goldenrod;
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: -30px;
  }
  .logo-container h2 {
    width: 90vw;
    font-size: 28px;
    margin: 25px auto 0px auto;
    text-align: center;
    color: white;
    font-family: Abril Fatface;
    word-spacing: 5px;
  }
  .swirls {
    width: 90%;
  }
  .footer {
    height: 60px;
    min-width: 100vw;
  }
  .footer h2 {
    display: none;
    margin: 3px 0px 3px 0px;
    z-index: 3;
    color: white;
    font-size: 25px;
    font-family: Poppins;
  }
  .footer img {
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 10px;
  }
  #facebook {
    margin-left: 50px;
  }
}
/* Iphone 6*/
@media screen and (max-width: 375px) {
  .logo-container {
    margin-bottom: -20px;
  }
  .logo-container h2 {
    font-size: 23px;
  }
}
/* Iphone 5 and 5s */
@media screen and (min-width: 320px) and (max-width: 320px) {
  .logo-container {
    margin-bottom: 0px;
    padding-top: 30px;
  }
  .logo-container h2 {
    font-size: 20px;
    margin-bottom: -50px;
  }
  .logo-container h1 {
    font-size: 34px;
  }
  .logo-container h3 {
    font-size: 25px;
  }
  .swirls {
    margin: 40px 0px 40px 0px;
  }
  .footer {
    height: 50px;
    min-width: 100vw;
  }
  .footer img {
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 10px;
  }
  .image-container {
    height: 150px;
    width: 150px;
    margin-top: -70px;
    border-radius: 100%;
    border: 3px solid goldenrod;
  }
}
